@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap');

.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

h1,
h2 {
  font-family: 'Baloo Da 2';
}
