.side-bar {
  background-color: #393a44;
  min-width: 200px;
}

.col {
  background: rgb(236, 168, 105);
  background: linear-gradient(
    90deg,
    rgba(236, 168, 105, 1) 0%,
    rgba(142, 43, 171, 1) 99%
  );
}
